.task, .container{
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 20px;
    text-align:center;
    font-weight:bold;
}

.container{
    background:maroon;
    color:white;
    border:5px solid black;
    //give text a shadow
    text-shadow: 2px 2px 4px #000000;
    //give text a thick outline
    outline: 5px solid black;
}

.task{
    draggable: true;
    border:5px solid black;
}
