:root {
    --jumbotron-padding-y: 3rem;
  }

/**.card:hover{
  transform:scale(1.1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  margin:-10px;
**/

.card-body{
  background-color:#212529;
}

.card{
  border:15px solid #212529;
  border-radius:25px;
  color:white;
}

.album{
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

  .jumbotron {
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color:white;
    height:100%;
    width:100%;
    color:white;
    border:15px solid #212529;
    border-top:none;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

  .circle{
    border:1px solid black;
    border-radius:40%;
    padding:1%;
    background-color:rgba(255, 0, 0, 0.2);
  }

  // make button backround match border color of cards
  .btn{
    background-color:#212529;
  }

